Generates a random set of users, admins (subset of users), and subscription plans\
*Must run whole thing together, in order, to generate correctly*

In [17]:
import requests

In [166]:
no_records = 100
no_admins = 20

In [18]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_most_popular_given_names').text

In [156]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')

In [20]:
tables = soup.find_all('table', {'class:', 'wikitable'})

In [38]:
rows = []
for i in tables:
    texts = i.findAll('td', text=True)
    for entry in texts:
        if (len(entry.findChildren()) == 0):
            name = entry.text
            name = name.strip('\n')
            if name != 'NA' and name.isalnum():
                rows.append(name)

In [105]:
firstnames = rows

In [44]:
websites = []
websites.append(requests.get('https://en.wikipedia.org/wiki/List_of_most_common_surnames_in_North_America').text)
websites.append(requests.get('https://en.wikipedia.org/wiki/List_of_most_common_surnames_in_Asia').text)
websites.append(requests.get('https://en.wikipedia.org/wiki/List_of_most_common_surnames_in_South_America').text)

In [46]:
soups = []
for w in websites:
    s = BeautifulSoup(w,'lxml')
    soups.append(s)
    tables = s.find_all('table', {'class:', 'wikitable'})

In [75]:
web = requests.get('https://names.mongabay.com/data/1000.html').text

In [103]:
s = BeautifulSoup(web,'lxml')
l = s.find(id='myTable').find_all('tr')
lastnames = []
for i in l:
    lastnames.append(i.find_all('td')[0].text.lower().capitalize())

In [211]:
import random
emaildomains = ['gmail.com', 'yahoo.com', 'hotmail.com', 'msn.com', 'live.com']
names = []
usernames = []
emails = []
passwords = []
for i in range(0,no_records):
    f = firstnames[random.randrange(len(firstnames))]
    l = lastnames[random.randrange(len(lastnames))]
    names.append(f + " " + l)
    u = f[0].lower()+l.lower() + str(random.randrange(1,1000))
    usernames.append(u)
    emails.append(u+'@' + emaildomains[random.randrange(len(emaildomains))])
    p = ''
    for i in range(0, random.randrange(6,16)):
        p += chr(ord('0')+random.randrange(72))
    passwords.append(p)
        
agg = [emails, usernames, passwords, names]

In [212]:
import pandas as pd

In [213]:
dic = {'email':emails, 'username': usernames, 'password': passwords, 'name':names }

In [214]:
df = pd.DataFrame(dic)

In [215]:
df.head()

                    email      username       password             name
0   lkrueger344@gmail.com   lkrueger344    tf`clmZJNk@   Latifa Krueger
1  kfigueroa587@yahoo.com  kfigueroa587       qwuM7@p3  Kathem Figueroa
2      ahorn830@gmail.com      ahorn830       FNhhg;M`       Arata Horn
3        rmann418@msn.com      rmann418  bH;`@K1rbHCon      Rabina Mann
4      kcobb211@gmail.com      kcobb211     [cotOY:niM      Karima Cobb

In [216]:
df.to_csv('./generated/users.csv')

In [217]:
admins = random.sample(emails,no_admins)
dfadmins = pd.DataFrame(admins, columns={'email'})
df.to_csv('./generated/admins.csv')

In [218]:
dfadmins.head()

                    email
0  fthompson773@gmail.com
1      wfinley673@msn.com
2      nhall773@gmail.com
3        rhowe127@msn.com
4      lbailey859@msn.com

In [219]:
from random import randrange
from datetime import timedelta
#https://stackoverflow.com/questions/553303/generate-a-random-date-between-two-other-dates

def random_date(start, end):
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60)
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

In [220]:
import datetime
subtypes = []
startdates = []
payment_methods = ['Visa','American Express', 'Mastercard', 'Interac','Paypal']
payments = []
for a in admins:
    subtypes.append(random.randrange(3))
    startdates.append(random_date(datetime.datetime(2015, 1, 1),datetime.datetime.now()))
    payments.append(payment_methods[random.randrange(len(payment_methods))])

In [221]:
dic2 = {'email':admins, 'stype': subtypes, 'start_date': startdates, 'payment_method':payments }

In [222]:
dfsubs = pd.DataFrame(dic2)
dfsubs.head(20)
dfsubs.to_csv('./generated/subscriptions.csv')